<% if @weather && @weather['cod'] == 200 %>
  <h1 class="weather-heading">Current Weather</h1>

  <% presenter = WeatherForecastPresenter.new @weather %>

  <dl class="weather-info">
    <dt class="weather-label">Weather:</dt>
    <dd><%= presenter.weather %></dd>

    <dt class="weather-label">Weather Description:</dt>
    <dd><%= presenter.description %></dd>

    <dt class="weather-label">Current Temperature:</dt>
    <dd><%= presenter.current_temp %></dd>

    <dt class="weather-label">Minimum Temperature:</dt>
    <dd><%= presenter.min_temp %></dd>

    <dt class="weather-label">Maximum Temperature:</dt>
    <dd><%= presenter.max_temp %></dd>

    <dt class="weather-label">Humidity:</dt>
    <dd><%= presenter.humidity %></dd>

    <% if @cached %>
      <dt class="weather-label">Response from Cache:</dt>
      <dd>Yes</dd>
    <% end %>
  </dl>
<% end %>